@import 'https://fonts.googleapis.com/css?family=Open+Sans|Futura';

$padding:30px;

* { box-sizing: border-box; }

body { background: #888888; overflow-x: hidden; }
.container {
  perspective: 800px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  width: 700px;
  height: 400px;
  background: rgb(10,10,20);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1), 0 3px 6px rgba(0, 0, 0, 0.23);
  line-height: 100px;
  text-align: center;
}
.name {
  outline: 10px solid #00babc;
  display: inline-block;
  padding: 15px 40px;
  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 8px;
}

p {
  margin: 0.1em 0;
}
.info {
  line-height: 100px;
  bottom: $padding;
  color: #eee;
}
.property {
  color: #aaa;
}

.photo img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 10px;
  margin-top: 50px;
}

.logout {
  text-align: center;
  margin-top: 50px;
}

.logout a {
  display: inline-block;
  background-color: #00babc;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1), 0 3px 6px rgba(0, 0, 0, 0.23);
}
